img { 
    width: 300px;
    height: 400px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #a2d5f2, #ffffff); 
    text-align: center;
}

button {
  transition-duration: 0.4s;
  background-color: rgb(255, 101, 101);
  color: blue;
}

button:hover {
  background-color: rgb(155, 0, 0);
  color: rgb(0, 0, 143);
}

p {
    text-align: center;
    color: #2a4d69;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color: #2a4d69;
    margin-bottom: 30px;
}

